.tl_folder_tlist, .tl_file_list, .tl_header_table td {
	vertical-align: top;
}

td.col_tasktype, .col_priority, .col_status, .col_progress {
	text-align: center;
}

.deadline_exceeded {
	font-weight: bold;
	color: #ff0000;
}

.deadline_exceeded ~ td {
	background-color: red;
}

.header_special_filter {
	background-image: url("icon_filter.png");
	background-position: left center;
	background-repeat: no-repeat;
	margin: 0 15px;
	padding: 2px 0 3px 20px;
}